// chart container
.chart-container {
    max-width: 650px;
    margin: 0 auto;
    padding: 25px 10px 10px 10px;
    position: relative;
    background-color: $black;
    color: $white;
    border-radius: 4px;
    text-align: center;
    box-shadow: 4px 4px 10px $gray-dark;

    @media screen and (min-width:$mediumBreakpoint){
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        grid-template-areas: 'title title' 'legend chart' 'infobox infobox';
        align-items: center;
    }
    .chart-title { grid-area: title;}   
    .legend-container { grid-area: legend;}
    .canvas-container { grid-area: chart;}
    .infobox { grid-area: infobox;}
}
.year {
    position: absolute;
    top:8px;
    right: 8px;
    font-size: 13px;
    color: $gray-blue;
    letter-spacing: 1px;
  }
  .chart-title {
    font-size: 20px;
    width: fit-content;
    margin: 0 auto 25px auto;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 3px;
    padding: 10px 9px 4px 9px;
    @media screen and (min-width:$mediumBreakpoint){
        font-size: 22px;
        margin-bottom: 35px;
    }
  }
  .canvas-container {
    position: relative;
    margin: 0 auto;
    width: 250px;
    height: 250px; 
    @media screen and (min-width:$mediumBreakpoint){
        width: 270px;
        height: 270px; 
    }
  }