// presets
body,
h3,
ul,
hr,
p {
    margin: 0;
    padding: 0;
}
*,
::before,
::after {
    box-sizing: border-box;
}
body {
    font-size: 16px;
}
ul {
    list-style: none;
}
// canvas {
    
//     display: block;
// }