// variables
$white: rgb(230, 252, 255);
$black:rgb(30, 30, 30);
$title-color:rgb(80, 83, 96);
$gray-dark: rgb(136, 136, 137);
$gray-blue:rgb(170, 194, 212);
$grayHover:rgb(117, 133, 145);
$pink: #ff92e4;
$blue: #92ceff;
$red: rgb(243, 115, 130);

$smallBreakpoint:380px;
$mediumBreakpoint:520px;
$largeBreakpoint:600px;